h1 {text-align: center;}

h2{
text-align: left;
margin-left: 25px;
}
p{
font-family: "Times New Roman", Times, serif;
text-align: justify;
margin-left: 25px;
}

body {
 background-color: lightblue
}

h1 {
color: purple
}

img, video, iframe{
margin-left: 25px;
height: 90%;
width: 100%;
}

.pictures {
width: 300px;
height: auto;
}

