<nav class = "navbar navbar-light bg-light navbar-expand-lg sticky-top">
	<div class="container-fluid">
	  	<a class="navbar-brand" href="index.html">Home</a>
	  	<button class = "navbar-toggler" type="button" data-bs-toggle = "collapse" data-bs-target = "#navbarSupportedContent">
	  		<span class = "navbar-toggler-icon">
	  		</span>
	  	</button>
	  	<div class = "collapse navbar-collapse" id = "navbarSupportedContent">
	  		<ul class = "navbar-nav me-auto mb-2 mb-lg-0">
	  			<li class = "nav-item">
	  				<a class = "nav-link active" aria-current="page" href="origin.html">Origins of the pigeon breeds</a>
	  			</li>
	  			<li class = "nav-item">
	  				<a class = "nav-link active" aria-current="page" href="bulgarianpigeons.html">Bulgarian pigeon breeds</a>
	  			</li>
	  		</ul>
	</div>
</nav>